@font-face {
    font-family: "Diagramm";
    src: url('/Diagramm-Regular.ttf') format('truetype');
}


html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0.625rem;
    box-sizing: border-box;
}

/* Body styling */
body {
    margin: auto;
    font-size: 1rem;
    font-family: 'inter', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
}

main {
    max-width: 75rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.25rem;
    background-color: #fff;
    z-index: 1000; 
  }
  


.header {
    max-width: 75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}



header.nav-list {
    align-items: right;
}

.logo {
    margin: auto 0;
    width: 9.9375rem;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.fa {
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -15%);
    display: inline-block;
    padding-top: 1.25rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: #000;
    width: 3.625rem;
    height: 3.625rem;
    border-radius: 3.625rem;
}

.fa:hover {
   width: 3.8rem;
   height: 3.8rem;
    color: black;
    background-color: #199b40ec;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0.625rem 1.25rem rgba(38, 241, 38, 0.2); 
}

.mobile-menu {
    display: none;
}


.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-list .nav-item {
    position: relative;
    transition: background-color 0.3s ease;
}

.dnav-item a {
    text-decoration: none;
    color: #000;
    font-size: 0.9375rem;
    font-weight: 300;
    transition: all 0.3s ease;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.dnav-item a:hover {
     color: #28a745;
    background-color: #92E3A92B;
    border-radius: 0.1875rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    max-width: 87.5rem;
    width: 100%;
    align-items: stretch;
    position: relative;
    font-size: 0.9375rem;
    border-radius: 2.0625rem;
    margin-top: 6.25rem;
    text-align: center;
    background-color: #72cd8d;
}

.top-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.mobile-top-images {
    display: none;
}

.down-images {
    display: flex;
    justify-content: space-between;
    transform: translate(0%, 20%);
  }


.top-right {
    display: flex;
    max-width: 30%;
    flex-direction: row;
    align-items: flex-start;
}


.table-books {
    width: 24.07875rem;
    height: 13.875rem;
}

.code2 {
    width: 17.430625rem;
    height: 13.163125rem;
}

.settings2 {
    width: 10.4325rem;
    height: 10.04375rem;
}

.table-books, .code2, .settings2 {
    max-width: 60%;
    height: auto;
    transition: transform 0.3s ease;
}

.table-books:hover, .code2:hover, .settings2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.motion-img {
    width: 50%;
    height: 15.9375rem;
    transition: transform 0.3s ease;
}

.settings1,  .copies {
    max-height: 18.75rem;
    margin: 0.625rem 0.3125rem; 
    transition: transform 0.3s ease;
}

.settings1 {
    position: absolute;
    width: 7%;
    transform: translate(230%, 0%);
}

.settings1:hover, .motion-img:hover, .copies:hover {
    transform: scale(1.05);
}

.copies {
    position: relative;
    width: 18%;
}


.top-right-img {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    width: 12.5rem;
    height: auto;
    padding: 0.625rem 0.9375rem;
    display: inline-block;
    font-family: 'Diagramm';
    font-size: 1.3125rem;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    margin: auto;
    white-space: nowrap; 
    border-radius: 45px;
    background: #92E3A9;
    border: 1px solid #000000;

}

.btn:hover {
    background-color: #72cd8d;
    transform: 0.3s ease-in;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.hero-btn {
    display: flex;
    justify-content: center;
    transform: translate(0%, -300%);
}

.touch-btn {
    max-width: 30%;
    padding: 0.625rem 1.25rem;
}


img {
    max-width: 100%; 
    height: auto; 
}




.middle {
    display: flex;
    justify-self: center;
}

.main-header {
    max-width: 59.625rem;
    max-height: 8rem;
    margin: auto;
    font-family: Diagramm;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4rem;
    text-align: center;
}

.mobile-header {
    display: none;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 87.5rem;
    width: 100%;
    padding: 2.5rem 1.25rem;
    border-radius: 3rem;
    background-color: #f3f2f2;
    margin-top: 3.75rem;
    border-radius: 2.0625rem;
}

h2 {
    color: #000;
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 3.781875rem;
}


.services-card {
    display: flex;
    justify-content: space-between; 
    gap: 1.25rem;
    margin-top: -1.875rem;
    margin-bottom: 0.9375rem;
}

 .services p {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5625rem;
    letter-spacing: 0.02em;
    text-align: left;
}

.service-card {
    margin-top: 1.875rem;
    width: 26.0625rem;
    padding: 1.25rem;
    max-width: 37.5rem;
    border-radius: 1.5rem;
    opacity: 0px;
    background-color: #fff;    
}

.service-card img {
    width: 3.920625rem;
    height: 3.476875rem;
   }

.service-card:hover {
    background-color: #Ecfaf0;
    transition: all 0.3s ease-in-out;
}

.service-card h3 {
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 1.875rem;
        text-align: left;
}

.industries-subtitle {
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 3.328125rem;
    text-align: center;
    color: #000;

}

.industries-title h2 {
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 1.966875rem;
    text-align: center;
    margin: 1.875rem;
}

.industries-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.industries {
    width: 80%;
    margin: 1.25rem auto;
    gap: 1.25rem;
}


.industries-card {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 1.25rem;
}

.industry-card {
    position: relative;
    width: 28.375rem;
    border-radius: 3rem;
    background-color: #92e3a9;    
}


.industries-card h3 {
    color: #000;
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.875rem;
}

.industry-card {
    margin: auto;
}



.finance img, .retail img {
    width: 55%;
    height: auto;
}

.customer img, .education img {
    width: 80%;
    height: auto;
}

.finance h3 {
    color: #92E3A9;
}

.group-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
    position: relative;
}

.card-group1 {
    transform: translateY(-5rem); 
    z-index: 0; 
}

.finance {
    background-color: #000;
    color: #92E3A9;
}

.education {
    background-color: #f3f2f2;
}


.touch-card {
    display: flex;
   align-items: center;
   max-width: 60%;
    flex-direction: row;
}

.touch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 1.25rem auto;
}

.touch-text {
        font-family: Inter;
        font-size: 1.625rem;
        font-weight: 300;
        line-height: 1.966875rem;
        text-align: center;

}

.about-us {
    margin: auto;
    margin-bottom: 1.875rem;
}

.about-us h2 {
    text-align: center;
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 3.781875rem;
    text-align: center;
}

.about-us p {
    font-family: Inter;
    font-size: 1.3125rem;
    font-weight: 300;
    line-height: 2.3125rem;
    letter-spacing: 0.05em;
    text-align: center;
} 

.tabs {
    display: flex;
    justify-content: space-around;
    margin: 1.25rem;
    cursor: pointer;
}

.tab {
   width: 100%;
}

hr {
    width: 36.8125rem;
    height: 0px;
    top: 239.1875rem;
    left: 14.75rem;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    width: 100%;
    padding: 0;
    border: 1px solid #ddd;
    margin: 0.3125rem 0;
}

.active-tab {
    color: #92e3a9;
}

.hidden {
    display: none;
}

.e-tab-container {
    border-radius: 3rem;
    opacity: 0px;
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: row;
    background-color: #92e3a9;
    border-radius: 3rem;
    padding: 2.5rem 1.25rem 2.5rem 1.25rem;
}

.education-tab-container {
    border-radius: 3rem;
    opacity: 0px;
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    background-color: #92e3a9;
    border-radius: 3rem;
    padding: 2.5rem 1.25rem 2.5rem 1.25rem;
}

.e-service-tab:hover, .education-tab:hover {
    color: #199b40;
    transform: translateY(-4px); 
    transition: all 0.3s ease-in-out;
}

.case-title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.72rem;
}

.case-text {
    font-weight: 300;
    font-size: 1.3125rem;
    color: #000;
    line-height: 2.4375rem;
    letter-spacing: 0.02em;
}

.e-service-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.875rem;
    width: 60%;
}

.e-services-img {
    width: 25.625rem;
    height: 21.9056rem;
}

.education-img {
    width: 25.0706rem;
    height: 21.8985rem;
}

.education-case-left {
    display: flex;
    flex-direction: row;
}


.case-left {
    width: 40%;
}

.case-paragraph {
    font-size: 1.3125rem;
    font-weight: 300;
    line-height: 2.875rem;
    letter-spacing: 0.05em;
    text-align: left;
}


.contact-form input,
.contact-form textarea {
    padding: 0.75rem;
    margin-bottom: 0.9375rem;
    border: 1px solid #ccc;
    border-radius: 0.625rem;
    width: 100%;
    height: 3.75rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.contact-form textarea {
    height: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #72cd8d;
    outline: none;
}


.submit {
    background-color: #92e3a9;
    color: #000;
    border: none;
    width: 100%;
    height: 3.75rem;
    font-weight: 400;
    border-radius: 1.5rem;
    padding: 0.75rem 1.25rem;
    font-size: 0.9375rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.submit:hover {
    background-color: #72cd8d;
    transform: translateY(-3px);
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.submit::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(146, 227, 169, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 0;
}

.submit:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.submit span {
    position: relative;
    z-index: 1;
}


.contact-us {
    min-width: 100%;
    /* width: 150%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
    margin-bottom:  1.875rem;
}

.contact-left {
   flex: 1.3;
   margin-right: 1.25rem;
}

.contact-right {
   flex: 1;
   padding: 1.25rem;
   border-radius: 0.625rem;
   display: flex;
   flex-direction: column; 
   margin-top: 8%;
}

.contact-left, .contact-right {
    height: auto;
}


.contact-p {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.134rem;
    text-align: left;
    color: #000;
}


.corporate-office {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.6875rem;
    text-align: left;
}

.corporate-text {
    font-family: Inter;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.6875rem;
    text-align: left;
}

.corporate-office h4 {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.059rem;
    text-align: left;
}

.mobile-social-media {
    display: none;
}

.social-media a {
    margin-top: auto;
    margin-right: 0.625rem;
    color: #333;
    padding: 0;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #72cd8d;
}

footer {
    position: absolute;  
    width: 100%;
    background: #000000;
}

.rights-reserved {
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.6875rem;
    letter-spacing: 0.03em;
    text-align: left;
    color: #92E3A9;
}


.terms {
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #92E3A9;

}

.footer-in {
    max-width: 75rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.footer-ul> .dnav-item a {
    color: #fff;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.footer-nav {
    display: flex;
    flex-direction: row;
}

.rights-reserved {
    margin: auto;
    align-items: center;
}


@media (max-width: 1204px) {
    h1 {
        font-size: 3rem;
    }

    .top-left {
    width: 40%;
   }
   .top-right {
    width: 40%;
   }

   .code2 {
    width: 60%;
    height: auto;
   }

   .settings2 {
    width: 50%;
    height: auto;
   }

   .table-books {
    width: 80%;
    height: auto;
   }

   .btn {
    border-radius: 2.8125rem;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #000000

   }

   .industry-card {
    width: 21.875rem;
   }

   .main-header {
    font-size: 3.25rem;
   }
 }

@media (max-width: 1024px) {
   h1 {
    font-size: 2.625rem;
   }

   .footer-in {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .contact-left {
    width: 100%;
    margin: auto;
   }
}

@media (max-width: 950px) {
    h1 {
        font-size: 2.375rem;
    }

    .e-services-img, .education-img {
        width: 40%;
        height: 60%;
        margin: auto;
    }

 } 


/* Responsive styles */
@media (max-width: 768px) {
      
    header {
        max-width: 46.875rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        height: 4.375rem;
    }

    .mobile-menu {
        display: block;  
        text-align: left;      
    }

    
    .mobile-list {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .mobile-menu .nav-item {
       display: flex;
        flex-direction: column;
    }

    .main-header {
        display: none;
    }

    .mobile-header {
        display: block;
        font-family: Diagramm;
        font-size: 2.3125rem;
        font-weight: 400;
        line-height: 2.5625rem;
        text-align: center;   
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.0256rem;
        text-align: left;

    }

    .mobile-p {
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 2.1875rem;
        letter-spacing: 0.02em;
        text-align: left;

    }

    .services p {
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 2.1875rem;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .services h3 {
        font-family: Inter;
        font-size: 1.5625rem;
        font-weight: 700;
        line-height: 1.875rem;
        text-align: left;

    }

    .about-us p {
        font-size: 1.1875rem;
        font-weight: 400;
        line-height: 2.3125rem;
        letter-spacing: 0.01em;
        text-align: center;
    }

    .case-paragraph {
        font-size: 1.1875rem;
        font-weight: 400;
        line-height: 2.875rem;
        letter-spacing: 0.03em;
        text-align: left;
    }

    .logo {
        width: 8.375rem;
        height: 3.25rem;
    }
    
    nav ul {
        flex-direction: column;
    }

    .footer-ul {
        flex-direction: row;
    }

    .dnav {
        display: none;
    }

    .nav.mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 110vw;
        height: 110vh;
        background-color: #fff;
        opacity: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.4s ease;
        z-index: 9999;
    
    }

    .nav.mobile-nav.active {
        transform: translateY(0);

    }

    .btn {
        max-width: 100%;
        width: 15.5rem;
        height: 4.1875rem;
        margin-top: 1.875rem;
        border-radius: 2.8125rem;
        border: 1px;
        border: 1px solid #000000
    }
    
    .btn:hover {
        color: white;
        background-color: #199b40;
        transform: translateY(-3px); 
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2); 
    }

    .close-btn {        
        position: absolute;
        top: 5%;
        right: 10%;
        background: transparent;
        color: #000;
        border: 2px solid #000;
        font-size: 1.5rem;
        cursor: pointer;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50px;
        transition: color 0.3s;
    }
    
    .close-btn:hover {
        color: #00ff9d;
    }
    

    .mobile-list {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: start;
        margin-top: 2rem;
    }

    .mobile-nav ul {
        position: absolute;
        left: 10%;
        top: 10%;
        margin-left: 1.25rem;
    }

    .mobile-list .nav-item a {
        font-family: Inter;
        font-size: 0.9375rem;
        font-weight: 300;
        line-height: 1.133rem;
        text-align: left;
        padding: 1.25rem;
        

    }
    
    .mobile-list .nav-item a:hover {
        color: #70bb84;
        background: #92E3A92B;
        padding: 0.5rem 1.2rem;
        border-radius: 0.1875rem;
        transform: scale(1.05);
    }
    
    .mobile-logo {
        position: absolute;
        top: -17%;
        right: 10%;
        transition: color 0.3s;
    }

    .top-images {
        display: none;
    }

    .mobile-top-images {
        display: flex;
        justify-content: space-between;
        transform: translate(0%, 0%);
    }

    .mobile-top-images img {
        width: 30%;
    }

    .settings2 {
        max-width: 20%;
    }

    .down-images {
        position: absolute;
        bottom: 0;
        display: flex;
        margin-bottom: 1.875rem;
        justify-content: space-between;
        transform: translate(0%, 10%);
    }    

    .fa {
        position: absolute;
        bottom: -5%;
    }

    .hero-btn {
        position: absolute;
        bottom: -8%;
        left: 30%;
    }

    .motion-img {
        width: 80%;
        transition: transform 0.3s ease;
    }

    .settings1 {
        width: 10%;
        transform: translate(290%, -40%);
    }

    .copies {
        position: absolute;
        width: 24%;
        bottom: 58%;
        right: 1%;
    }

    .active {
        display: block;
    }


    .nav-list {
        flex-direction: row;
        padding: 0.625rem;
    }

    .nav-item {
        padding: 0.625rem 1.25rem;
    }

    .menu-toggle {
        display: block;
        width: 2.5rem;
        height: 1.5625rem;
        border: none;
        font-weight: bold;
        background-color: transparent;
    }

    .top-right {
        width: 60%;
    }

    h1 {
        font-size: 32px;
     
       }

    .case-study { 
        text-align: center;
        margin-bottom: 1.25rem;
       }

       .contact-p {
        text-align: center;
       }

    p {
        width: 100%;
    }

    img {
        margin: auto;
    }

    br {
        display: none;
    }

    .logo {
        width: 30%;
        margin-left: 0;
    }
    
    .hero {
        height: 46.875rem;
        text-align: center;
        margin-top: 3.125rem;
    }

    .services-card {
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: center;
        gap: 0.0625rem;
    }

    .service-card {
        width: 100%;
        gap: 1.875rem;
        height: 13.4375rem;
        border-radius: 1.5rem;
    }

    .service-card h3 {
        text-align: left;
    }

    .service-card  {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .service-card img {
        margin: 0;
    }

    .services-card div { 
        min-width: 18.75rem;
        height: 13.4375rem;
        border-radius: 1.5rem;
        opacity: 0px;  
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .e-services-img, .education-img {
        width:  80%;
        height: auto;
    }

    .education-case-left, .e-services-case-left {
        flex-direction: column;
        gap: 20px;
    }
    
    .e-tab-container {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        align-items: center;
        margin: 1.25rem -1.25rem;
        margin: 0 -1.25rem;
        border-radius: 1.875rem;
    }  

    .case-study {
        margin: 0.625rem -1.875rem;
    }
    
    .education-tab-container {
        margin: 1.25rem -1.25rem;
        border-radius: 1.875rem;
    }
    
    .touch-card {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap:  1.25rem;
        text-align: center;
        align-items: center;
        margin-top: -0.625rem;
    }

    .touch-text {
        width: 15.125rem;
        height: 3.75rem;
        margin-bottom: 1.25rem;
        font-size: 1.3125rem;
        font-weight: 400;
        line-height: 1.588rem;
        text-align: center;

    }

    .case-container {
        flex-direction: column;
    }

    .contact-us {
        flex-direction: column-reverse;
    }

    .corporate-office h4 {
        font-size: 2.375rem;
        font-weight: 700;
        line-height: 2.874rem;
        text-align: left;
    }

    .contact-right {
        padding: 0;
        margin-top: -1.875rem;
    }

    .social-media {
        display: none;
    }

    .mobile-social-media {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 80%;
        height: 2.625rem;
    }

    .contact-left {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        margin-top: 1.25rem;
    }

    .contact-form {
        display: block;
        align-items: center;
        margin-top: 0.625rem;
    }

    .mobile-social-media i {
        color: #000;
        border: 1px solid #000;
        border-radius: 50%;
    }


    .card-group2 {
        margin-top: 3.75rem;
    }

    .card-group1 {
        transform: translateY(0); 
    }

    .industries-card {
        display: flex;
        justify-content: center;
        margin: auto;
        flex-direction: column; 
        align-items: center;
    }

    
    .industries-subtitle {
        font-size: 1.5625rem;
        font-weight: 600;
        line-height: 2.125rem;
        text-align: center;

    }

    .industries-title h2 {
        font-size: 1.375rem;
        font-weight: 300;
        line-height: 1.664rem;
        text-align: center;
    }

    .industry-card {
        position: relative;
        max-width: 100%;
        height: 16.875rem;
        bottom: 0;
        gap: 1.875rem;
        border-radius: 1.3125rem;
    }

    .industry-card img {
        position: absolute;
        width: 60%;
        right: 0;
    }

    .card-group1 {
        margin-top: 0;
    }


    .case-title {
        font-size: 1.875rem;
        font-weight: 700;
        line-height: 2.269rem;
        text-align: left;
    }

    .case-text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.438rem;
        letter-spacing: 0.02em;
        text-align: left;        
    }

    .case-study h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.025rem;
    }

    .e-service-tab h4, .education-tab h4 {
        font-family: Inter;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.814rem;
        text-align: left;

    }

    .case-subtitle {
        font-size: 1.5rem;
        color: #666;
        margin-bottom: 1.25rem;
        text-align: start;
    }

    .case-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #72cd8d;
        padding: 1.25rem;
        border-radius: 0.625rem;
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }

    .e-service-left {
        width: 100%;
        padding: 1.25rem;
    }
    
    .e-services-img, education-img {
        max-width: 21.875rem;
        height: 18.75rem;
    }

.card-group2 {
    position: relative;
    transform: translateY(-40px); 
    z-index: 0; 
}

.contact-left, .contact-right {
    flex: 1.1;
 }

.contact-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-size: 0.8125rem;
    font-weight: 400;
}


.corporate-office {
    display: flex;
    flex-direction: column;
}

.corporate-text {
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: 2.625rem;
    text-align: left;
}

br {
    display: block;
}

.contact-form input {
    height: 80px;
}

.submit {
    border-radius: 1.0625rem;
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.664rem;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 0.875rem;
}

.footer-in {
    flex-direction: column;
}

.footer-ul .nav-item {
    margin: 0;
}

.rights-reserved {
    margin: auto;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 0;
    color: white;

}

.hero h1 {
    margin-top: 1.25rem;
    font-size: 3.25rem;
    line-height: 3.5rem;
}


.table-books {
    justify-content: center;
}

.top-images {
    display: none;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rights {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0.625rem;
    width: 100%;
}
}
}

@media  (max-width: 992px) {
    .main-header {
        font-size: 2.8125rem;
    }

    h2 {
        font-size: 2.625rem;
    }

    .industries-subtitle {
        font-size: 2.375rem;
    }

    .service-card h3 {
        font-size: 1.25rem;
    }

    .industries-card h3 {
        font-size: 1.25rem;
    }

    .industry-card {
        width: 20rem;
    }

    .about-us p, .case-paragraph, .case-text {
        font-size: 1.125rem;
    }

    .touch-text {
        font-size: 1.125rem;
    }
} 


@media  (max-width: 650px) {
    .hero {
        height: 43.125rem;
    }
   
}


@media  (max-width: 580px) {
    .hero {
        height: 40.625rem;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .copies {
        bottom: 70%;
    }

    .btn {
        left: 22%;
        bottom: -5;
    }
}


@media  (max-width: 500px) {
    .hero {
        height: 39.375rem;
    }

    .industries {
        width: 100%;
    }

    .industries-subtitle {
        font-size: 2rem;
    }

    .contact-us {
        min-width: 320px;    
    }

    .contact-form input {
        height: auto;
    }
}

@media  (max-width: 420px) {
    .hero {
        height: 34.375rem;
    }

    .hero h1 {
        font-size: 1.875rem;
        margin-bottom: 1.25rem;
    }

    .btn {
        left: 18%;
        bottom: -15%;
    }

    .copies {
        bottom: 60%;
    }
}
